<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" th:with="activeTitle='Course',activeTab='COURSE'">
<head>
    <div layout:fragment="customCss">
    </div>
</head>
<body>
<div layout:fragment="content">
    <div class="main-wrapper">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h2 th:text="${course.name + ' - Invoice'}"></h2>
                            </div>
                        </div>
                        <div class="invoice-details">
                            <div class="row">
                                <div class="col">
                                    <p class="info">Date:</p>
                                    <p th:text="${date}">Jan 8, 2021</p>
                                </div>
                                <div class="col">
                                    <p class="info">Syllabus:</p>
                                    <p th:text="${course.syllabus.name}">IO237</p>
                                </div>
                                <div class="col">
                                    <p class="info">Invoice to:</p>
                                    <p th:text="${user.fullName}">John Doe, New York</p>
                                    <p th:text="${user.address}">5025 Collwood Blvd, apt. 2314</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive">
                                <h5 class="card-title">Participants</h5>
                                <table class="table invoice-table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Position</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="m : ${course.memberCourses}">
                                        <td th:text="${m.name}">11 APR 2021</td>
                                        <td th:text="${m.position}">$3223</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row invoice-last">
                            <div class="col-9">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut ante id elit molestie<br>dapibus id sollicitudin vel, luctus sit amet justo</p>
                            </div>
                            <div class="col-3">
                                <div class="invoice-info">
                                    <form th:action="@{/invoice}" method="post">
                                        <p>Subtotal <span th:text="'Rp. '+${#numbers.formatDecimal(course.syllabus.price, 1, 'POINT', 0, 'COMMA')}">$1700</span></p>
                                        <p>Discount <span>-</span></p>
                                        <p>Tax <span th:text="${course.syllabus.ppn + '%'}"></span></p>
                                        <p class="bold">Total <span th:text="'Rp. '+${#numbers.formatDecimal(totalPrice, 1, 'POINT', 0, 'COMMA')}">$1336</span></p>
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-danger m-t-xs btn-invoice" th:attr="data-id=${course.id}" type="submit">Confirm Payment</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div layout:fragment="customScript">
    <script>
        $('.btn-invoice').on('click', function(){
            let id = $(this).data('id')
            console.log('id = ',id)
            swal.fire({
                title: "Are you sure?",
                text: "You will confirm this payment?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#19be44",
                confirmButtonText: "Yes!"
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: "http://localhost:8080/rest/course/invoice?id="+id,
                        type: "POST",
                        data: {

                        },
                        dataType: "json",
                        success: function () {
                            swal.fire({title: "Done!", text: "Success purchasing course!", type:
                                    "success"}).then(function(){
                                window.location = "http://localhost:8080/course/mycourse";
                                }
                            );
                        },
                        error: function () {
                            swal.fire("Error approving!", "Please try again", "error");
                        }
                    });
                }
            });
        })
    </script>
</div>
</body>
</html>