<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" th:with="activeTitle='Dashboard',activeTab='DASHBOARD'">
<head>
    <div layout:fragment="customCss">
    </div>
</head>
<body>
<div layout:fragment="content">
    <div class="main-wrapper">
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card stat-widget">
                    <div class="card-body">
                        <h5 class="card-title">Available Courses</h5>
                        <h2 th:text="${availableCourses.size()}">132</h2>
                        <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#ModalAvailableCourses"> <i class="fa fa-info-circle"></i>  </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalAvailableCourses" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog mw-100 w-50 modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Available Courses</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Course</th>
                                        <th scope="col">Datetime</th>
                                        <th scope="col">Instructor</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Schedules</th>
                                        <th scope="col">Participants</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="c : ${availableCourses}">
                                        <td th:text="${c.name}">Cell</td>
                                        <td th:text="${c.description}">Cell</td>
                                        <td th:text="${c.instructor.fullName}">Cell</td>
                                        <td th:text="${c.location}">Cell</td>
                                        <td th:text="${c.courseStatus}">Cell</td>
                                        <td>
                                            <a href="#">
                                                <button class="btn btn-primary waves-effect" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"> <i class="mdi mdi-account-edit mr-1"></i> <span>Detail</span> </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#">
                                                <button class="btn btn-info waves-effect" data-bs-toggle="modal" data-bs-target="#ModalSchedules"> <i class="mdi mdi-account-edit mr-1"></i> <span>Detail</span> </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a th:href="@{/course/invoice(id=${c.id})}">
                                                <button class="btn btn-info waves-effect"> <i class="mdi mdi-account-edit mr-1"></i> <span>Join</span> </button>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
</div>
<div layout:fragment="customScript"></div>
</body>
</html>